<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>8</string>
					<key>EndingLineNumber</key>
					<string>54</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>54</string>
					<key>Timestamp</key>
					<string>775929925.441455</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MyPlaces/Models/POIModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        </string>
				<key>leading</key>
				<string>        
        /// Create a bounding box around the user location
</string>
				<key>trailing</key>
				<string>let buffer: Double = 0.008 // ~1km buffer in degrees
        let envelope = Envelope(
            xMin: userPoint.x - buffer,
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>70</string>
					<key>StartingColumnNumber</key>
					<string>83</string>
					<key>StartingLineNumber</key>
					<string>69</string>
					<key>Timestamp</key>
					<string>777380933.384887</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MyPlaces/Models/ContentViewModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>        let request: NSFetchRequest&lt;RelevanceScore&gt; = RelevanceScore.fetchRequest()
        /// Load the POIs with the scores higher than 0.5
        request.predicate = NSPredicate(format: "user == %@ AND score &gt; 0.6", user)</string>
				<key>trailing</key>
				<string>        do {
            let scores = try context.fetch(request)
            print (scores)
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
