<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>143</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>142</string>
					<key>Timestamp</key>
					<string>779371667.366666</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MyPlaces/Models/ContentViewModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                guard score &gt; 0.5 else { return nil }
</string>
				<key>leading</key>
				<string>            let relevantPOIs = allPOIs.compactMap { poi -&gt; (poi: ArcGISFeature, score: Double, fclass: Double)? in
                let score = getRelevanceScore(for: poi)
</string>
				<key>trailing</key>
				<string>                
                /// Get fclass for thematic filtering
                guard let fclassRaw = poi.attributes["fclass"] as? String,
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>29</string>
					<key>EndingLineNumber</key>
					<string>54</string>
					<key>StartingColumnNumber</key>
					<string>23</string>
					<key>StartingLineNumber</key>
					<string>54</string>
					<key>Timestamp</key>
					<string>779368790.01858</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MyPlaces/Managers/RelevanceModelManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>output</string>
				<key>leading</key>
				<string>            let output = try model.prediction(input: input)
            if favorite == 1.0 {
                return </string>
				<key>trailing</key>
				<string>.interestScore + 0.3   /// boost the favorites to make sure they show up
            }
            return output.interestScore
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>184</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>183</string>
					<key>Timestamp</key>
					<string>780766829.430819</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MyPlaces/Views/ContentView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                            #if DEBUG
</string>
				<key>leading</key>
				<string>                            searchAndTogglesOverlay(proxy: proxy)  /// Pass proxy here
                            
</string>
				<key>trailing</key>
				<string>                            BenchmarkTriggerView().environmentObject(viewModel)
                            #endif
                            
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
